<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Railway
    </ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense"> -->
    <!-- <ion-toolbar> -->
      <!-- <ion-title size="large">CRUD</ion-title> -->
    <!-- </ion-toolbar> -->
  <!-- </ion-header>  -->

  <ion-list color="warning">
    <ion-item color="warning">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <h1>Pokémon Yellow</h1>
        <p>~drive carefully~</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    
    <ion-card>
      <ion-card-header>
        <ion-card-title>Warning 1</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Address:</p>
        <p>Address:</p>
        <p>Address:</p>
        <p>Address:</p>
        <p>Address:</p>
        <p>Address:</p>
        <ion-button class="buttonED"color="warning" size="small" shape="round">EDIT</ion-button>
        <ion-button  class="buttonED" color="warning" size="small" shape="round">DELETE</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Warning 2</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Address:</p>
        <p>Address:</p>
        <p>Address:</p>
        <p>Address:</p>
        <p>Address:</p>
        <p>Address:</p>
        <ion-button class="buttonED"color="warning" size="small" shape="round">EDIT</ion-button>
        <ion-button  class="buttonED" color="warning" size="small" shape="round">DELETE</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Warning 3</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Address:</p>
        <p>Address:</p>
        <p>Address:</p>
        <p>Address:</p>
        <p>Address:</p>
        <p>Address:</p>
        <ion-button class="buttonED"color="warning" size="small" shape="round">EDIT</ion-button>
        <ion-button  class="buttonED" color="warning" size="small" shape="round">DELETE</ion-button>
      </ion-card-content>
    </ion-card>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning" (click)="newWarning()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <app-explore-container name="CRUD page"></app-explore-container> -->
</ion-content>
